---
title: Savagecorp.
---

<div class="headline">
	<div class="_wrap">
		<h1>Savagecorp</h1>
	</div>
</div>


<div class="content cf">
	<div>	
		<h2>A design studio focused on creating digital products and improving experiences across the internet.</h2>
		<p>Using a multidisciplinary approach that incorporates UI/ UX Design, Product Strategy, and Creative Direction we can take your business to the next level. Dedicated to working with the best, we look to solve complex problems that make an improved difference for our clients.</p>

		<hr>

		<p class="current"><strong>Currently working on</strong></p>
		<ul class="_list">
			<li>Creating a better way for doctors to communicate through a secure mobile network</li>
			<li>Helping a new insurance company upend the traditional models</li>
			<li>Improving customers ordering experiences for a major furniture retailer</li>
		</ul>
	</div>

	<hr>
	<p class="current"><strong>Have worked with</strong></p>
	<div class="grid cf">
		<div class="_item fleft"><a target="_blank" href="http://airbus-sv.com/"><img src="/images/airbus.png" alt="Airbus Group" data-rjs="3"></a></div>
		<div class="_item fleft"><a target="_blank" href="https://www.airtime.com/"><img src="/images/airtime.png" alt="Airtime" data-rjs="3"></a></div>
		<div class="_item fleft"><a target="_blank" href="https://www.americanexpress.com/us/small-business/shop-small/"><img src="/images/amex.png" alt="Amex Shop Small" data-rjs="3"></a></div>
		<div class="_item fleft"><a target="_blank" href="https://capture.com/"><img src="/images/capture.png" alt="Capture Media" data-rjs="3"></a></div>

		<div class="_item fleft"> <a target="_blank" href="http://eastmedia.com/"><img src="/images/eastmedia.png" alt="Eastmedia" data-rjs="3"></a></div>
		<div class="_item fleft"> <a target="_blank" href="http://www.equifax.com/home/en_us"><img src="/images/equifax.png" alt="Equifax" data-rjs="3"></a></div>
		<div class="_item fleft"> <a target="_blank" href="https://fein.com/en_us/"><img src="/images/fein.png" alt="Fein Tools" data-rjs="3"></a></div>
		<div class="_item fleft"> <a target="_blank" href="https://lovesac.com"><img src="/images/lovesac.png" alt="Lovesac" data-rjs="3"></a></div>
		<div class="_item fleft"><a target="_blank" href="http://thenextweb.com/insider/2016/01/21/knowme-for-ios-lets-you-talk-over-pictures-you-have-on-your-phone-to-tell-a-story/"><img src="/images/knowme.png" alt="KnowMe" data-rjs="3"></a></div>

		<div class="_item fleft"><a target="_blank" href="https://movableink.com/"><img src="/images/movableink.png" alt="Movable Ink" data-rjs="3"></a></div>
		<div class="_item fleft"><a target="_blank" href="https://securityscorecard.com/"><img src="/images/securityscorecard.png" alt="Security Scorecard" data-rjs="3"></a></div>
		<div class="_item fleft"><a target="_blank" href="http://singlestream.happyfuncorp.com/"><img src="/images/singlestream.png" alt="SingleStream" data-rjs="3"></a></div>
		<div class="_item fleft"><a target="_blank" href="https://www.workmarket.com"><img src="/images/workmarket.png" alt="Work Market" data-rjs="3"></a></div>
		<div class="_item fleft"><a target="_blank" href="https://zipmark.com/"><img src="/images/zipmark.png" alt="Zipmark" data-rjs="3"></a></div>
	</div>
	<hr>
	<p style="font-size: 18px; ">
		<strong>Contact</strong> <br>
		Do you work for an awesome company, have a unique problem to solve, or need a jumpstart on that upcoming project? If you're a technology company, work on a mobile device, or want to make something awesome for the internet, we'd love to talk to&nbsp;you.
		<br><br>
		Feel free to reach out if you want to chat, need a bit of brainstorming from an outside perspective, have questions about an upcoming project, or just want to grab a coffee. We're here to help you, <a href="mailto:hello@savagecorp.com">Hello@Savagecorp.com</a>
	</p>
	<div class="foot">	
		<p class="copy">&copy; 2016 Savagecorp LLC. Made in Brooklyn, NY.</p>
	</div>
</div>
