---
title: THIS IS SAVAGECORP.
---
<!-- 
<div style="position: fixed; height: 300px; width: 100%; overflow: hidden; margin:0px auto; z-index: -1;">
	<div style="position:relative;
    right:50%;
    text-align:center;">
<div style="display:inline-block;
      margin-right:-100%;
      text-align: center;">
    <h1>savagecorp</h1>
  </div>
    </div>
	
</div> -->

<div class="headline">
	<div class="_wrap">
		<h1>Savagecorp</h1>
	</div>
</div>




<!-- <div class="content cf" style="z-index: 100; padding-top: 13rem;"> -->
<div class="content cf">
	<div>	
		<h2>A design studio focused on creating digital products and improving experiences across the internet.</h2>
		<p>Using a multidisciplinary approach that incorporates, UI/ UX Design, Product Strategy, and Creative Direction we take your business to the next level. Dedicated to working with the best, we look to solve complex problems that make an improved difference for our clients.</p>

	 <p class="current">We're currently work with on:</p>
		<ul class="_list">
			<li>Creating a fun and entertaining iOS game for a cable entertainment company.</li>
			<li>Increasing user registrations, engagement and growth for a video communication startup.</li>
			<li>Empowering bond traders to make better decisions though insight and understanding.</li>
			<li>Making the investment process and timeline, for a leader in the aerospace industry, comphensive as well as clear to understand.</li>
		</ul>
	</div>
	<p>Interested in working together and building a lasting partnership? <br> Reach out and say, <a href="mailto:hello@savagecorp.com">Hello@Savagecorp.com</a></p>
<div>	




	<div class="grid cf">
		<div class="_item fleft"><img src="/images/airbus.png" alt=""></div>
		<div class="_item fleft"><img src="/images/airtime.png" alt=""></div>
		<div class="_item fleft"><img src="/images/amex.png" alt=""></div>
		<div class="_item fleft"><img src="/images/bravo.png" alt=""></div>

		<div class="_item fleft"><img src="/images/capture.png" alt=""></div>
		<div class="_item fleft"><img src="/images/eastmedia.png" alt=""></div>
		<div class="_item fleft"><img src="/images/equifax.png" alt=""></div>
		<div class="_item fleft"><img src="/images/fein.png" alt=""></div>

		<div class="_item fleft"><img src="/images/knowme.png" alt=""></div>
		<div class="_item fleft"><img src="/images/movableink.png" alt=""></div>
		<div class="_item fleft"><img src="/images/workmarket.png" alt=""></div>
		<div class="_item fleft"><img src="/images/zipmark.png" alt=""></div>
	</div>
	
	<p class="copy">&copy; 2016 Savagecorp. Made in Brooklyn, NY.</p>
</div>
	
</div>